<div>
<%= render "dashboardpartial/header" , class:"w-full"%>
  
</div>

<!-- /> This is where the grid layout for dashboard begins <!-->
<div class=" grid grid-cols-5 gap-1  mt-4 ">


<div>
<%= render ("dashboardpartial/dashboardside")%>
</div>

<!--/> second column <!-->


<div class="col-span-4  mx-4">
<%= render  "dashboardpartial/dashboardnotetitle", collection: @notes, as: :note%>
</div>

</div>

