<%= render "dashboardpartial/header" %>
  
</div>
<hr class="mt-4">
<!-- /> Thisis where the grid layout for dashboard begins <!-->
<div class="grid grid-flow-col justify-stretch gap-1 mt-2">
<div class="bg-buttoncolor">Features</div>
<div class="bg-buttoncolor"> Recent</div>
<div class="bg-buttoncolor">Objects</div>

</div>