<div id="<%= dom_id note %>">

<div class="round-full bg-textbg w-2/3 m-2">
  <p class="font-nunito text-xl font-bold text-header m-2">
    
    <%= note.title %>
  </p>

  <p class="font-nunito text-text w-1/2 bg-textbg">
    
    <%= note.content %>
  </p>
</div>
</div>
