

<div id="<%= dom_id note %>">

<div  class="mx-2" >

  <div class="font-nunito font-light text-2xl mx-2 text-header  ">
    
    <%= note.title %>
    
    
  </div>
 
<!-- styled by app/views/layouts/action_text/contents/_content.html.erb> <!-->
  <div >
     
    <%= note.content %>
    
  </div>
 
</div>
</div>
