<div id="<%= dom_id note %>">

<div class="round-full bg-textbg w-full  lg:w-96 m-2 rounded-2xl">
  <p class="font-nunito text-xl font-bold text-header p-3">
    
    <%= note.title %>
  </p>

  <p class="font-nunito text-text p-3">
    
    <%= note.content %>
  </p>
</div>
</div>
