

<div id="<%= dom_id note %>">

<div  class="mx-2" >

<div>
<%= note.title%>
</div>
<!-- styled by app/views/layouts/action_text/contents/_content.html.erb> <!-->
  <div >
     
    <%= note.content %>
    
  </div>
 
</div>
</div>
