<div class="lg:text-4xl text-xl font-nunito my-1 lg:mx-16 font-bold  text-header">
<%= note.title%>
</div>

<div class="flex">

<div class=" font-nunito text-text lg:text-xl p-4 rounded-xl lg:w-screen lg:mx-16 bg-bgcolor " >
<%= note.content%>
</div>





