
<!-- Note show for large screen and medium screen-->

<div class="lg:text-xl text-xl font-nunito my-1  font-bold  text-header">
<%= note.title%>
</div>



<div class=" font-nunito text-text lg:text-lg p-4 rounded-xl bg-bgcolor mb-10 "  style="height:595px; width:1000px;" >
<%= note.content%>
</div>





