<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Notes" %>

  <div class="flex justify-between items-center m-2">

  <div>
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
       </svg>
  </div>

    <h1 class="font-bold text-xl drop-shadow-medium text-header font-nunito"> Recent Notes</h1>

    <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
         </svg>
    </div>

    
  </div>

  <div id="notes" class="min-w-full">
    <% @notes.each do |note| %>
      <%= render note %>
      <p>
        <%= link_to "Show this note", note, class: "ml-2 font-nunito text-black rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "New note", new_note_path, class: "font-nunito text-medium rounded-lg py-3 px-5 bg-blue-600 text-black block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
