

<div class="lg:m-6 m-4">



<div class="flex">
<%= link_to notes_path do%>
 <%=  svg_icon('arrow-left', class: 'lg:size-12 size-10 text-header bg-bgcolor rounded-full p-1 stroke-2 hover:bg-text hover:text-white') %>
 <%end%>
</div>





  <div class="lg:mx-60 mx-2 ">
<h1 class="font-bold my-5 text-2xl font-nunito mt-16 ">Add note</h1>
  <%= render "form", note: @note %>
  </div>
  
</div>
