
  
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>


<div class="mx-4 mt-4">
<%= link_to notes_path do%>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4 lg:w-6 lg:h-6 stroke-header ">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
</svg>
<%end%>

<div class="my-4">
<%= render partial: "notes/shownote", locals:{note: @note}%>
</div>


</div>

    
