


<% @notes.each do |note|%>
<% if note.user == current_user%>
<%= link_to note do%>


<div class=" m-4 hover:font-bold">

<div class="font-nunito font-black rounded-t-2xl text-lg bg-bgcolor text-text px-4 pt-4 "><%= truncate(note.title, length: 50) %></div>
<div class="font-nunito text-base rounded-b-2xl bg-bgcolor text-text px-4 pb-4 "><%= truncate(note.content.to_plain_text, length: 100) %></div>

</div>
<%end%>
<%end%>
<%end%>
