
<div class="space-y-2">

<div class="my-4 ml-4">
<%= link_to new_note_path do%>
<button class="p-4 px-12  flex gap-2 font-nunito bg-buttoncolor text-deskbg  font-bold rounded-2xl">
<%= image_tag"Subtract.png", class:"size-5"%> Create
</button>
<%end%>
</div>


<div>
<%= link_to dashboard_path do%>
<div class="flex bg-bgcolor pl-8 hover:font-bold  hover:shadow-lg cursor-pointer hover:shadow-blue/30
p-2 transition duration-700 ease-in-out rounded-full">
<div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-header stroke-header">
  <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
  <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
</svg>
</div>

<div class="font-nunito text-header mx-4   ">All work</div>
<div class="ml-14 font-nunito text-header  ">23</div>
</div>
<%end%>
</div>

<div>
<%= link_to notes_path do%>
<div class="flex bg-bgcolor pl-8 hover:font-bold  hover:shadow-lg cursor-pointer hover:shadow-blue/30
p-2 transition duration-700 ease-in-out rounded-full">
<div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-header stroke-header">
  <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
  <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
</svg>
</div>

<div class="font-nunito text-header mx-4  ">Note</div>
<div class="ml-20 font-nunito text-header   ">14</div>
</div>

<%end%>
</div>
</div>