

<div class=" bg-bgcolor rounded-2xl h-lvh pt-36 pl-36 ">
 <div class="">dashboard</div>

<div class="mx-2 cursor-pointer ">
<hr class="border-text/10 border-0.5">
<% @notes.each do |note|%>
<%=link_to note do%>
<div  class="py-1 hover:bg-deskbg hover:font-bold flex justify-between ">

<div class="flex gap-4 hover:font-bold">
<div class="font-nunito  font-bold  text-header "><%= truncate(note.title, length: 20) %></div>
<div class="font-nunito  text-header "><%= truncate(note.content.to_plain_text, length: 60) %></div>
</div>
<div class="font-light  font-nunito text-text/70 "> <%= note.created_at.strftime(" %H:%M, %d/%Y ") %></div>

</div>
<hr class=" border-text/10  border-0.5">
<%end%>
<%end%>
</div>




</div> 
<div>


