<div data-controller="dropdown" class="relative mr-8 w-16">
  <button data-action="click->dropdown#toggle" class="bg-blue-500 text-header font-semibold py-2 px-2 rounded">
    Menu
  </button>
  <div data-dropdown-target="menu" class="hidden absolute shadow-deskbg drop-shadow right-0  w-40 bg-bgcolor shadow p-4  rounded-2xl  mt-2 ">
    <ul class="pl-8 space-y-2 ">
      <li ><%= link_to "Edit profile", edit_user_registration_path, class:"flex" %></li>
      
      <li><%= button_to "sign out", destroy_user_session_path, method: :delete%></li>
    </ul>
  </div>
</div>